@tailwind base;
@tailwind components;
@tailwind utilities;



/* ===================   jodit editor ============================  */
.jodit,
.jodit-container * {
  /* background: #2e2d2d !important; */
  /* color: wheat !important; */
  border: none !important;

}

.jodit-react-container .jodit-wysiwyg {
  min-height: 550px !important;
}



.ant-table-tbody .custom-price-cell{
  color: #38bd5e;
  font-family: bold !important;
  font-size: 24px !important;
}

.ant-space-item span{
    color: #333333 !important;
    font-family: bold !important;
  font-size: 16px !important;
}

.ant-image  {
aspect-ratio: 1 !important;
    width: 80px !important;
    height: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ant-table-cell {
    padding-bottom: 1 !important;
    padding-top: 1 !important;
}

.ant-image  .ant-image-mask {
     border-radius: 100%;
     padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: white;
     display: flex;
    justify-content: center;
    align-items: center;
}
.anticon-eye > svg {
    fill: white !important;
}

.ant-table-tbody .custom-availability-inStock-cell {
  color: "#007621";
  font-weight: 500;
  font-size: 16px !important;
}
/* --------------------------------------------------------------------- */
.ant-table-tbody .custom-availability-outStock-cell {
  color: "#FF0000";
  font-weight: 500;
  font-size: 16px !important;
  padding: 4px !important;
  border-radius: 100%;
  background-color: "#FFE5E5";
}

.custom-available-cell{
    color: black;
  font-weight: 600;
  font-size: 16px !important
} 

.custom-tabs .ant-tabs-ink-bar {
  display: none !important; 
}
/* 
.ant-tabs-tab-active{
  border: none !important;
} */
/* .ant-tabs-nav-list{
  width: 100% !important;
  border: 5px !important;
} */



.px-10.py-4.bg-gray-100.rounded-md.shadow-xl {
    font-size: 28px;
    font-weight: 600 !important;
    /* background-color: #38bd5e; */
}
/* 

/* Remove default ink bar (the sliding underline) */
.ant-tabs-ink-bar {
  display: none !important;
  
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
    text-shadow: 0 0 0.25px currentcolor;
    background-color: #38bd5e !important;
}

/* Remove default border from tab */
.ant-tabs-tab {
  border-bottom: none !important;
}

/* Apply custom border to active tab */
div.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: none !important;
  color: white !important;
}

/* .ant-tabs .ant-tabs-tab-btn {
    outline: none;
    transition: all 0.3s;
    padding-right: 36px;
    padding-left: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 600;
} */





/* .ant-image .ant-image-img {
  width: 90px !important;
  height: 80px !important;
  border: 2px, solid, #23AA49;
 
} */
 /* .ant-image-mask-info{
  border: #23AA49 solid 1px ;
  border-radius: 30px;
 } */